body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.head {
    /* The image used */
    background-image: url("../img/279703968_10159429212000589_3796083311920730025_n.jpg");
  
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 80%;
  }
  
  li {
    display: inline;
  }